/* BookSpot styles */

/* import fonts */

/* Montserrat Regular */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Montserrat Bold */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Roboto Slab Light */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

/* Roboto Slab Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

:root {
  /* font settings */

  /* font families */
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-robotoslab: 'Roboto Slab', serif;

  /* font assign */
  --fa-main: var(--ff-montserrat);
  --fa-back: var(--ff-robotoslab);

  /* font sizes */

  /* --fs-base: clamp(1rem, calc(2vw - 0.125rem), 1rem); font-base fixed to 16px */
  --fs-base: clamp(0.875rem, calc(2vw - 0.125rem), 1.125rem);
  --ff-appTitle: var(--fa-main);
  --fs-appTitle: 1.875rem;
  --ff-navLink: var(--fa-main);
  --fs-navLink: 0.813rem;
  --le-navLink: 1.9px;
  --ff-bookCategory: var(--fa-main);
  --fs-bookCategory: 0.875rem;
  --ff-bookTitle: var(--fa-back);
  --fs-bookTitle: 1.375rem;
  --le-bookTitle: -0.2px;
  --ff-bookAuthor: var(--fa-back);
  --fs-bookAuthor: var(--fs-bookCategory);
  --ff-actionBtn: var(--fa-back);
  --fs-actionBtn: var(--fs-bookCategory);
  --ff-percent: var(--fa-main);
  --fs-percent: 2rem;
  --ff-completed: var(--fa-main);
  --fs-completed: var(--fs-bookCategory);
  --ff-current: var(--fa-back);
  --fs-current: var(--fs-navLink);
  --ff-reading: var(--fa-back);
  --fs-reading: 1rem;
  --ff-btnUpdate: var(--fa-back);
  --fs-btnUpdate: 0.813rem;
  --le-btnUpdate: 0.5px;
  --ff-subTitle: var(--fa-main);
  --fs-subTitle: 1.25rem;
  --le-subTitle: -0.18px;
  --ff-input: var(--fa-main);
  --fs-input: var(--fs-reading);
  --le-input: -0.15px;
  --ff-btnAdd: var(--fa-back);
  --fs-btnAdd: var(--fs-btnUpdate);
  --le-btnAdd: var(--le-btnUpdate);

  /* font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* color palette */
  --color-primary: #0290ff;
  --color-blue: #4386bf;
  --color-blue-x: #379cf6;
  --color-white: #fff;
  --color-white-fa: #fafafa;
  --color-black: #111;
  --color-gray-12: #121212;
  --color-gray-888: #888;
  --color-gray-c4: #c4c4c4;
  --color-gray-e8: #e8e8e8;
  --color-gray-pale: #f5f6fa;
  --color-error: #d62525;
  --color-opacity-50: 0.5;
  --color-opacity-none: 1;

  /* default border-radius */
  --border-radius-def: 4px;
  --border-radius-btn: 3px;

  /* borders */
  --border-clear: 2px solid transparent;
  --border-common: 1px solid var(--color-gray-e8);
  --border-hover: 2px solid var(--color-gray-888);
  --border-active: 2px solid var(--color-primary);
  --border-black: 2px solid var(--color-black);
  --border-input-fv: 1px solid var(--color-primary);
  --border-input-invalid: 1px solid var(--color-error);
  --progress-color: var(--color-gray-e8);
}

/* basic resets */
* {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
  margin: 0;
  padding: 0;
}

ul,
li,
body {
  margin: 0;
  padding: 0;
}

body {
  min-inline-size: 320px;
  font-family: var(--fa-main);
  line-height: 1;
  color: var(--color-gray-12);
}

h1,
h2,
h3,
h5,
h6,
p {
  margin: 0;
}

#root {
  inline-size: 100%;
  background-color: var(--color-gray-pale);
  overflow-x: hidden;
  margin: 0;
}

.App {
  inline-size: 87.5%;
  margin-inline: 6.25%;
  margin-block: 7vw 11vw;
  padding: 0;
  background-color: var(--color-white-fa);
  border-radius: var(--border-radius-def);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

/* styles for the header section */
header {
  inline-size: 100%;
  padding-inline: 6.25vw;
  padding-block: 1.5vw;
  font-family: var(--fa-main);
  display: flex;
  align-items: center;
  gap: 2.9em;
  background-color: var(--color-white);
  border-block-end: var(--border-common);
  flex-wrap: wrap;
}

/* styles for the brand-name */
.appTitle {
  --logo-size: 0.73em;
  --title-color: var(--color-primary);
  --title-fill: var(--color-white);

  display: flex;
  align-items: baseline;
  text-decoration: none;
  font-family: var(--ff-appTitle);
  font-size: var(--fs-appTitle);
  font-weight: var(--fw-bold);
  color: var(--title-color);
  fill: var(--title-fill);
  position: relative;
}

.appTitle:hover {
  --title-color: var(--color-gray-12);

  opacity: var(--color-opacity-50);
}

.appTitle:active {
  opacity: var(--color-opacity-none);
}

.logo {
  block-size: var(--logo-size);
  inline-size: var(--logo-size);
  background-color: var(--title-color);
  border-radius: 50%;
  border: none;
  padding: 0.06em;
}

/* styles for the NavBar */
nav {
  font-family: var(--ff-navLink);
  font-size: var(--fs-navLink);
  letter-spacing: var(--le-navLink);
}

ul {
  list-style: none;
  display: flex;
  gap: 2.5em;
}

.appLink {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-gray-12);
  opacity: var(--color-opacity-50);
  border-block-end: var(--border-clear);
}

.appLink.active {
  opacity: var(--color-opacity-none);
}

.appLink:hover,
.appLink.active:hover {
  color: var(--color-primary);
  border-block-end: var(--border-active);
}

.appLink:active,
.appLink.active:active {
  color: var(--color-black);
  border-block-end: var(--border-black);
  opacity: var(--color-opacity-none);
}

/* styles for the Avatar */
.avatar {
  --avatar-padding: 0.275ch;

  margin-inline-start: auto;
  color: var(--color-primary);
  background-color: var(--color-white);
  border: var(--border-common);
  border-radius: 50%;
  display: flex;
  align-content: center;
  font-size: 1.5rem;
  padding: var(--avatar-padding);
  cursor: pointer;
}

.avatar:hover {
  color: var(--color-gray-12);
  border: var(--border-active);
  padding: calc(var(--avatar-padding) - 1px);
}

.avatar:active {
  border: var(--border-black);
  background-color: var(--color-gray-e8);
  padding: calc(var(--avatar-padding) - 1px);
}

/* wrapper applied to main */
.wrapper {
  inline-size: 100%;
  padding-inline: 6.25vw;
  padding-block: 2vw 16.5vw;
}

/* styles for book-list section */
.bookList,
.categories,
.profile {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

/* styles for Book */
.book,
.booksAvailable,
.categories,
.profile {
  background-color: var(--color-white);
  border: var(--border-common);
  border-radius: var(--border-radius-def);
  padding-block: 1.75em;
  padding-inline: 1.6em;
}

.booksAvailable,
.booksAvailable h2 {
  text-align: center;
}

.booksAvailable > p {
  margin-block: 1em 2em;
}

.suggestion {
  text-transform: uppercase;
  padding: 1em;
  line-height: 1.25;
  font-size: var(--fs-bookCategory);
  background-color: var(--color-gray-c4);
  border-radius: var(--border-radius-def);
}

.book {
  display: flex;
  flex-wrap: wrap;
}

.bookInfo {
  flex-grow: 2.1;
}

.bookProgress {
  flex-grow: 1;
  display: flex;
  padding-block: 0.38rem 0.625rem;
}

.bpIconContainer {
  --progressContainer: 5.625rem;

  display: flex;
  width: var(--progressContainer);
  height: var(--progressContainer);
  padding: 0.625rem 0.625rem 0.75rem 0.75rem;
  justify-content: center;
  align-items: center;
}

.bpIcon {
  --bpIconSize: 4.25rem;
  --bpIconInner: 3.75rem;

  width: var(--bpIconSize);
  height: var(--bpIconSize);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  align-content: center;
  background-image: conic-gradient(var(--color-blue-x) 0%, var(--progress-color) 0);
}

.bpIcon .bpIconInner {
  position: absolute;
  width: var(--bpIconInner);
  height: var(--bpIconInner);
  top: 50%;
  left: 50%;
  transform: translate(-49%, -51%);
  border-radius: 50%;
  background-color: var(--color-white);
}

.bpData {
  flex-grow: 1.9;
  display: flex;
  flex-direction: column;
  margin-block: 1.125rem;
  border-right: var(--border-common);
}

.bpPercentage {
  font-family: var(--ff-percent);
  font-weight: var(--fw-regular);
  font-size: var(--fs-percent);
  margin-inline: 0.75rem 1.5rem;
}

.bpCompleted {
  font-family: var(--ff-completed);
  font-size: var(--fs-completed);
  opacity: 0.5;
  margin-inline: 0.75rem 1.5rem;
}

.bookChapter {
  flex-grow: 1.2;
  margin-block: auto;
  margin-inline-start: 1.5rem;
  padding-block: 0 0.188rem;
}

.bookCategory,
.loading {
  font-family: var(--ff-bookCategory);
  font-size: var(--fs-bookCategory);
  opacity: var(--color-opacity-50);
  margin-block-end: 0.25rem;
}

.bookTitle,
.booksAvailable h2,
.categoriesTitle,
.underConstruction {
  font-family: var(--ff-bookTitle);
  font-size: var(--fs-bookTitle);
  letter-spacing: var(--le-bookTitle);
  text-transform: capitalize;
}

.underConstruction {
  text-transform: uppercase;
}

.bookAuthor,
.bookCompleted {
  font-family: var(--ff-bookAuthor);
  font-size: var(--fs-bookAuthor);
  color: var(--color-blue);
}

.bookPercent {
  font-family: var(--ff-percent);
  font-size: var(--fs-percent);
  font-weight: var(--fw-regular);
}

.bookCompleted {
  font-family: var(--ff-percent);
  color: var(--color-gray-12);
  opacity: var(--color-opacity-50);
}

.bchCurrent {
  font-family: var(--ff-current);
  font-weight: var(--fw-thin);
  font-size: var(--fs-current);
  color: var(--black-two);
  opacity: 0.5;
  margin-block-end: 0.438rem;
}

.bchName {
  font-family: var(--ff-reading);
  font-size: var(--fs-reading);
  font-weight: var(--fw-thin);
  letter-spacing: -0.4px;
  color: var(--black-two);
}

/* styles for comments, remove and edit */
.actionButtons {
  margin-block-start: 1.3em;
  gap: 0;
}

.actionItem {
  padding-block: 0.1875rem;
  padding-inline: 1rem;
  border-inline: var(--border-common);
}

.actionItem:first-child {
  padding-inline-start: 0;
  border-inline-start: none;
}

.actionItem:last-child {
  padding-inline-end: 0;
  border-inline-end: none;
}

.btn-link {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: var(--ff-actionBtn);
  font-size: var(--fs-actionBtn);
  color: var(--color-blue);
  border-block-end: var(--border-clear);
  text-transform: capitalize;
}

.btn-link:hover {
  color: var(--color-gray-888);
  border-block-end: var(--border-hover);
}

.btn-link:active {
  color: var(--color-black);
  border-block-end: var(--border-black);
}

.btn {
  font-family: var(--ff-robotoslab);
  color: var(--color-white);
  background-color: var(--color-primary);
  border: var(--border-clear);
  border-radius: var(--border-radius-btn);
  text-transform: uppercase;
  padding: 0.95em;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-gray-c4);
  border: var(--border-active);
}

.btn:active {
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border-black);
}

.btn-upd {
  font-size: var(--fs-btnUpdate);
  font-weight: var(--fw-thin);
  letter-spacing: var(--le-btnUpdate);
  padding: 0.5rem 1.28rem;
  margin-block-start: 1.25rem;
}

/* separator horizontal line */
hr {
  border: var(--border-common);
  margin-block-start: 2.5rem;
  margin-block-end: 1.813rem;
}

/* styles for add-new-book form section */
.addBook,
input {
  font-family: var(--ff-input);
}

.addBook h2 {
  font-family: var(--ff-subTitle);
  font-size: var(--fs-subTitle);
  letter-spacing: var(--le-subTitle);
  margin-block-end: 1.188rem;
  color: var(--color-gray-888);
  text-transform: uppercase;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.125rem;
}

input {
  font-size: var(--fs-input);
  letter-spacing: var(--le-input);
  color: var(--color-gray-12);
  background-color: var(--color-white);
  padding-block: 0.8em;
  padding-inline: 1em;
  border-radius: var(--border-radius-def);
  border: var(--border-common);
}

input::placeholder {
  color: var(--color-gray-c4);
}

input:focus-visible {
  outline: var(--border-input-fv);
}

input:invalid:focus {
  outline: var(--border-input-invalid);
}

.newTitle {
  flex-basis: 28rem;
  flex-grow: 90;
}

.newAuthor {
  flex-basis: 19rem;
  flex-grow: 65;
}

.btn-add {
  flex-basis: 10rem;
  font-family: var(--ff-btnAdd);
  font-weight: var(--fw-bold);
  font-size: var(--fs-btnAdd);
}

.btn-chk {
  font-size: var(--fs-btnAdd);
}

.categories,
.profile {
  text-align: center;
  padding-block-end: 40rem;
}

.categories .btn {
  max-inline-size: 10rem;
  align-self: center;
}

.loading {
  font-size: var(--fs-bookTitle);
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;

  /* animation-name: loading; */
}

@keyframes loading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin-inline: auto;
    margin-block: 0.75rem;
  }

  header {
    padding-inline: 1.125rem;
    padding-block: 0.75rem;
    gap: 1.75em;
  }

  ul {
    gap: 1.5em;
  }

  .wrapper {
    padding-inline: 1.125rem;
  }
}

/* EOF: ms mxw-768px */

@media screen and (max-width: 480px) {
  .App {
    inline-size: 100%;
    margin: 0;
  }

  header {
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
    column-gap: 2em;
    row-gap: 1em;
  }

  .appTitle {
    flex-grow: 50;
    flex-basis: 17rem;
  }

  nav {
    order: 3;
    flex-basis: 100%;
    flex-grow: 99;
  }

  ul {
    gap: 5em;
    justify-content: center;
  }

  .wrapper {
    padding-inline: 0.5rem;
    padding-block: 0.75rem 4.5rem;
  }

  .bookList {
    gap: 0.5em;
  }

  .actionButtons {
    justify-content: flex-start;
  }

  form {
    gap: 0.825rem;
  }

  input,
  .btn-add {
    flex-basis: 100%;
  }
}

/* EOF: ms mxw-480px */
